<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/u722440/IdeaProjects/First_maven_project">
        <classes>
            <class name="TestPackage.Testclass"/>
            <class name="TestPackage.DemoTestClass"/>


        </classes>
    </test>
</suite>